.films {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.film {
    width: 235px;
    padding: 10px 18px;
    text-align: center;
    height: 340px;
}
.film:hover {
    background-color: #ebebeb;
}
.title {
    margin: 15px 0;
}
.container {
    padding: 20px 50px;
}
.inputContainer {
    padding: 20px 75px;
}
.searchInput {
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid lightgray;
    width: 200px;
    outline: none;
    position: absolute;
}
